body {
  margin: auto;
  max-width: 1400px;
  background-image: url("./image/background02.jpg");
}

header {
  background-color: #6b7d9e;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  
}
* {
  margin: 0;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 30px;
  list-style: none;
  margin-right: 30px;
}

li {
  padding-left: 10px;
  margin-left: 40px;
  font-size: 20px;
}

.img_logo img {
  padding-top: 5px;
  width: 120px;
  overflow: hidden;
  
}

a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.link_li:hover {
  background-color: #110e0e;
  border-radius: 10px;
  padding: 5px;
}
.container_projection {
  display: flex;
  width: 100%;
  align-items: center;
}
.img_projection {
  width: 300px;
  height: 410px;
  padding-top: 100px;
  margin-left: 50px;
}
.nage_waza {
  font-size: 40px;
  font-weight: bolder;
}
.container_sweep {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
  float: right;
}
.img_sweep {
  flex-direction: row-reverse;
  width: 300px;
  padding-top: 100px;
  margin-right: 50px;
}
.text_sweep {
  flex-direction: row-reverse;
  font-size: 50px;
  font-weight: bolder;
}

.container_choke {
  display: flex;
  width: 100%;
  align-items: center;
}
.img_choke {
  flex: 1;
  width: 500px;
  height: 410px;
  padding-top: 100px;
  margin-left: 20px;
}
.choke {
  font-size: 40px;
  font-weight: bolder;
}
.container_arm-bar {
  display: flex;
  flex-direction: row-reverse;
  float: right;
  width: 100%;
  align-items: center;
}
.img_arm-bar {
  flex: 1;
  width: 400px;
  height: 410px;
  padding-top: 100px;
  margin-right: 50px;
}
.arm-bar {
  font-size: 40px;
  font-weight: bolder;
}
.text_projection {
  flex: 1;
  width: 200px;
  height: 200px;
  color: #fff;
  align-items: center;
  margin-left: 45px;
  font-weight: bolder;
  font-size: 28px;
}
.text_sweep {
  flex: 1;
  width: 200px;
  height: 200px;
  color: #fff;
  align-items: center;
  margin-left: 45px;
  font-weight: bolder;
  font-size: 28px;
}
.text_choke {
  flex: 1;
  width: 800px;
  height: 200px;
  align-items: center;
  margin-left: 45px;
  font-weight: bolder;
  font-size: 28px;
  color: #fff;
}
.text_arm-bar {
  flex: 1;
  width: 200px;
  height: 200px;
  color: #fff;
  align-items: center;
  margin-left: 45px;
  font-weight: bolder;
  font-size: 28px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #3a3838;
  height: 400px;
  width: 100%;
  border-radius: 5px;
}
#contact{
  width: 100%;
  max-width: 500px;
  margin-right: 180px;
  padding-right: 30px;
}
h3{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 150px;
  color: #fff;
}
.form_contact{
  display: flex;
  flex-direction: column;
}
.field{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
.text_area{
  margin-top: 10px;
  padding-top: 10px;
  height: 150px;
  border-radius: 5px;
}
.submit{
  padding: 15px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}


