body{
    background-image: url("./image/background02.jpg");

}
*{
    margin: 0px;
}

header{
    height: 100px;
    
}

ul{
    display: flex;
    justify-content: flex-end;
    margin-top: -70px;
    list-style: none;
    margin-right: 30px;
    
}

li{
    padding-left: 10px;
    margin-left: 40px;
    font-size: 20px;
}

.img_logo img{
    padding-top: 30px;
    width: 120px;
    height: 120px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
.link_li:hover {
    background-color: #110e0e;
    border-radius: 10px;
    padding: 5px;
}
.projection img{
    width: 280px;
    height: 410px;
    padding-top: 100px;
    margin-left: 50px;
    justify-content: flex-end;
}
.sweep img{
    width: 280px;
    height: 410px;
    padding-top: 100px;
    margin-right: 50px;
    
}
.sweep{
    float: right;
}

.choke img{
    width: 280px;
    height: 410px;
    padding-top: 100px;
    margin-right: 50px;
    margin-top: 350px;
    
}
